.notification-card {
    background: linear-gradient(45deg, rgb(255, 150, 255), violet);
    color: white;
    font-family: 'Inter';
    font-size: 18px;
    position: relative;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    width: 250px;
    z-index: 2;
    left: 50vw;
    top: 16px;
    transform: translateX(-50%);
    padding: 15px 10px 15px 10px;
    scale: 0.0;
}
.notification-timer {
    position: relative;
    background: blue;
    height: 5px;
}